:root {
    --color1: #05b1b1;
    --color2: #52339a;
}

header, section {
    padding: 100px 0;
}

header, footer {
    background: rgb(0,0,0);
    background: linear-gradient(277deg, rgba(00,0,0,1) 3%, rgba(87, 162, 96, 1) 100%);
}

header h1, p {
    color: #bfe2ff;
}
header p {
    font-size: 1em;
}
.advantages, .feedback, .price {
    background-color: #eee;
}

.btn-itd {
    background-color: var(--color1);
    color: var(--bs-white);
    max-width: 300px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 8px 30px;
    transition: all o.2s ease;
}

.btn-itd:hover {
    background-color: var(--color2);
    color: var(--bs-white);
}
/* Наши преимущества */

.advantages i {
    font-size: 25px;
    color: var(---color2)
}
.c-circle {
    margin: 0px auto 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}
/* Наши преимущества */


/* Почему нас выбирают */
.why-me h5 {
    padding: 50px;
    border: 3px solid var(--color1);
}
/* Почему нас выбирают */


/* Обратная связь */
.feedback h5 {
    width: 300px;
    padding: 10px;
    border: 3px solid var(--color2);
    margin: 10px auto;
}
/* Обратная связь */

/* Подвал */
footer {
    padding: 30px 0px;
}
footer h6 {
    color: #eee;
}
/* Подвал */

/* ------------------------- О нас ---------------------------- */
.about p {
    color: black;
}
.about h1 {
    margin-bottom: 30px;
}
/* ------------------------- О нас ---------------------------- */


/* Цвет */
.color1 {
    color: var(--color1)
}
.color2 {
    color: var(--color2)
}
.bg1 {
    background-color: var(--color1)
}
.bg2 {
    background-color: var(--color2)
}
/* Цвет */