{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>AРС-Строй: строительство ещё никогда не было так доступно!</h1>
                <p><b>Мы - строительная компания.</b> Мы занимаемся монтажом и демонтажом крыш: мягкая кровля, жёсткая кровля,
                    плоская кровля. Делаем так, чтобы у заказчика не было головной боли после ремонта.</p>
                <p><b>Клиенты обращаются к нам,</b> когда не хотят тратить время на поиск исполнителей и хотят, чтобы
                работы производились по договору. В день обращения мы выезжаем на объект, консультируем заказчика, составляем смету
                и предоставляем договор с полным списком работ и их стоимостью.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>