{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Кровельные работы в Воронеже | АРС-Строй</title>
    <meta name="description" content="Цены от 100 рублей за м2. Работаем по договору. Воронеж и область.">
    <meta name="keywords" content="монтаж, демонтаж, кровельные работы, АРС-Строй, Воронеж">
    <link rel="canonical" href="https://stroim-vmeste36.ru/about/">
    {% endblock %}
</head>
<body>
{% block content %}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12 about-text">
                <h1 class="text-center">AРС-Строй: кровельные работы любой сложности.</h1>
                <p><b>Мы - строительная компания.</b> Мы занимаемся монтажом и демонтажом крыш: мягкая кровля, жёсткая кровля,
                    плоская кровля. Делаем так, чтобы у заказчика не было головной боли после ремонта.</p>
                <p><b>Клиенты обращаются к нам,</b> когда не хотят тратить время на поиск исполнителей и хотят, чтобы
                работы производились по договору. В день обращения мы выезжаем на объект, консультируем заказчика и составляем смету.
                А на следующий день предоставляем договор с полным списком работ и их стоимостью.</p>
                <p><b>Для того, чтобы связаться с нами,</b> просто позвоните по указанным номерам или напишите нам в
                WhatsApp.</p>
            </div>
        </div>
    </div>
</section>
<section class="feedback">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h2 class="text-center text-uppercase color1 mb-5">Обратная связь</h2>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-6 col-sm-12 mb-3   ">
                  <h4 class="text-center">Связаться по WhatsApp</h4>
                  <a aria-label="Напишите в WhatsApp" href="https://wa.me/79204247011"><img src="static/images/whats_app_image.png" class="img-fluid mx-auto d-block"></a>
              </div>
               <div class="col-md-6 col-sm-12">
                  <h4 class="text-center">Связаться по телефону</h4>
                  <h5 class="text-center">8-920-424-70-11</h5>
                  <h5 class="text-center">8-920-469-83-86</h5>
              </div>
          </div>

      </div>
  </section>
{% endblock %}
</body>
</html>