{% extends 'base.html' %}

{% block content %}

<div class="container-fluid text-center">
    <h1>Крыша и Кровля в Воронеже. Низкие цены и высокое качество!</h1>
    <h2>8(920)424-70-11</h2>
</div>

<div class="container-fluid text-center">
    <p>Мы не вкладывали больших денег в сайт, поэтому чтобы не терять ваше время на просмотр
    картинок, предлагаем вам позвонить нам или написать в WhatsApp.</p>
    <div class="whats-up-widget">
        <a aria-label="Chat on WhatsApp" href="https://wa.me/79204698386"><img alt="Chat on WhatsApp" src="static/images/whats_app_image.png" /></a>
    </div>
</div>
<div class="container-fluid my-carousel">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/images/roof1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="static/images/roof2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="static/images/roof3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<!--<div class="obratny-zvonok">форма для обратного звонка</div>-->
<!--<div class="container-fluid">-->
<!--    <p>Видно вам всё-таки хочется посмотреть на картинки красивых крыш. Хорошо. Специально для вас самые красивые картинки крыш из интернета</p>-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--    карусель с картинками крыш-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--    <p>Мало? Вот вам ещё с десяток картинок</p>-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--    ещё одна карусель с картинками крыш-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--    <p>Картинки - не то, что вы искали? Может всё-таки свяжитесь с нами?</p>-->
<!--</div>-->
<!--<div class="obratny-zvonok">форма для обратного звонка</div>-->

<!--<div class="container-fluid">-->

<!--</div>-->
<!--<div class="container-fluid"></div>-->
<!--<div class="container-fluid"></div>-->
<!--<div class="container-fluid"></div>-->

<!--<div class="container-fluid">-->
<!--    <p>Если вы добрались до этого места, </p>-->
<!--</div>-->




{% endblock %}