{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Мягкая кровля в Воронеже цена за квадратный метр</title>
    <meta name="description"
          content="Укладка мягкой черепицы. Цены от 100 рублей за м2. Работаем по договору. Воронеж и область.">
    <meta name="keywords" content="мягкая кровля, монтаж, демонтаж, кровельные работы, АРС-Строй, Воронеж">
    {% endblock %}
</head>
<body>
{% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-5">Монтаж мягкой кровли в Воронеже</h1>
                <a href="{{ url_for('price') }}" class="btn btn-itd btn-lg text-uppercase">Узнать цены</a>
            </div>
        </div>
    </div>
</header>
<section class="myagkaya-article">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="fst-italic">Монтаж мягкой черепицы - это процесс укладки и крепления покрытия на крыше или
                    стенах здания с использованием специальных материалов и инструментов. Мягкая черепица может быть
                    выполнена из различных материалов, таких как битум, резина или полимеры, и имеет различные формы и
                    цвета.</p>

                <p class="fst-italic">Существует несколько видов мягкой черепицы, включая классическую трехслойную, однослойную,
                    многоколенчатую и рулонную черепицу. Каждый вид имеет свои особенности и преимущества, которые
                    определяются условиями эксплуатации и требованиями к внешнему виду кровли.</p>

                <p class="fst-italic">Техника монтажа мягкой черепицы включает в себя подготовку поверхности, укладку и крепление
                    материала, обрезку и окончательную фиксацию элементов кровли. Этот процесс требует аккуратности,
                    навыков и знаний, чтобы обеспечить долговечность и надежность кровельного покрытия.</p>

                <p class="fst-italic">Важно использовать высококачественные материалы и соблюдать все технологические рекомендации
                    производителей для обеспечения долговечности и эстетического вида кровельного покрытия из мягкой черепицы.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="static/images/image2.png" alt="Монтаж мягкой кровли" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>