{% extends 'base.html' %}
<head>
    <title>Монтаж наплавляемой кровли в Воронеже</title>
    <meta name="description" content="Цены от 100 рублей за м2. Все виды работ с наплавляемой кровлей. Работаем по Воронежу и области.">
    <meta name="keywords" content="монтаж, демонтаж, наплавляемая кровля, Воронеж">
</head>
<body>
{% block content %}
<header>
    <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center mb-3">Монтаж наплавляемой кровли в Воронеже</h1>
              <a href="{{ url_for('price') }}" class="btn btn-itd btn-lg text-uppercase">Узнать цены</a>
          </div>
      </div>
    </div>
  </header>
<section class="naplav-article">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="fst-italic">Монтаж наплавляемой кровли – это процесс укладки рулонного материала на кровельное основание с
                    использованием технологии горячего и холодного наплавления. Этот тип кровли отличается высокой
                    стойкостью к воздействию агрессивных сред, длительным сроком службы и простотой монтажа.
                    При правильном выполнении монтажа, наплавляемая кровля обеспечивает надежную защиту от влаги,
                    ультрафиолетового излучения, механических повреждений и других внешних воздействий.
                    Важными этапами монтажа являются подготовка основания, укладка изоляционного слоя,
                    закрепление кровельного материала и проведение контрольных испытаний на герметичность.
                    При проведении монтажа необходимо соблюдать все технологические требования и нормы
                    безопасности для обеспечения долговечности и надежности кровли.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="static/images/img1.jpg" alt="Монтаж наплавляемой кровли" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>