{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Цены на кровельные работы в Воронеже</title>
    <meta name="description" content="Цены от 100 рублей за м2. Все виды кровельных работ. Работаем по Воронежу и области.">
    <meta name="keywords" content="монтаж, демонтаж, цена, кровельные работы, Воронеж">
    {% endblock %}
</head>
<body>
{% block content %}
<header>
    <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center mb-3">Цены на кровельные работы</h1>
          </div>
      </div>
    </div>
  </header>
<section class="price">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h2 class="text-center text-uppercase color1 mb-5">Цены</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <h5 class="text-center text-uppercase mb-3">Наплавляемая кровля</h5>

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Единица измерения</th>
                      <th scope="col">Стоимость</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Нанесение праймера</th>
                      <td>кв.метр</td>
                      <td>50 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Монтаж материала в один слой</th>
                      <td>кв.метр</td>
                      <td>от 150 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Монтаж примыканий до 60 см в один слой</th>
                      <td>пог.метр</td>
                      <td>от 150 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Монтаж воронок</th>
                      <td>шт.</td>
                      <td>2000 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Монтаж аэраторов</th>
                      <td>шт.</td>
                      <td>1500 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Демонтаж</th>
                      <td>кв.метр</td>
                      <td>от 200 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Стяжка с армировкой</th>
                      <td>кв.метр</td>
                      <td>от 350 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Разуклонка керамзитом</th>
                      <td>кв.метр</td>
                      <td>от 300 руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 col-sm-12">
                  <h5 class="text-center text-uppercase mb-3">Мягкая кровля</h5>

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Единица измерения</th>
                      <th scope="col">Стоимость</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Укладка утеплителя 150 мм</th>
                      <td>кв.метр</td>
                      <td>от 350 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Монтаж мягкой черепицы</th>
                      <td>кв.метр</td>
                      <td>от 350 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Укладка гидроизоляции</th>
                      <td>кв. метр</td>
                      <td>от 100 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Укладка парогидроизоляции</th>
                      <td>кв. метр</td>
                      <td>от 100 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Монтаж примыканий до 60 см в один слой</th>
                      <td>пог. метр</td>
                      <td>от 150 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Демонтаж</th>
                      <td>кв.метр</td>
                      <td>от 200 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Подшивка карниза</th>
                      <td>пог. метр</td>
                      <td>от 150 руб.</td>
                    </tr>
                    <tr>
                      <th scope="row">Монтаж обрешётки</th>
                      <td>кв.метр</td>
                      <td>от 150 руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </section>
{% endblock %}
</body>
</html>